<!DOCTYPE html>
<html data-cdn="<%= cdn_root %>" lang="en" ng-app="myApp">
<head>
    <title><%= data.title %></title>

<!--     {block:Hidden}
    <meta name="text:JS CSS File Path" content="http://localhost:3001/">
    {/block:Hidden} -->

   <link rel="stylesheet" type="text/css" href="css/<%= data.name %>-vendors.<%= suffix %>css">
    <link rel="stylesheet" type="text/css" href="css/<%= data.name %>.<%= suffix %>css">

</head>
<body>

    <ul class="menu">
        <li><a href="#/view1">view1</a></li>
        <li><a href="#/view2">view2</a></li>
    </ul>

    <!-- A simple AngularJS view -->
    <div ng-controller="MainController">

        <div ng-switch="isLoading">
     
            <!-- BEGIN: Loading View. -->
            <p ng-switch-when="true" class="loading-switch">
     
                Your images are being loaded... {{ percentLoaded }}%
     
            </p>
            <!-- END: Loading View. -->
     
            <!-- BEGIN: Results View. -->
            <div ng-switch-when="false" ng-switch="isSuccessful" class="loading-switch">
     
                <p ng-switch-when="true">
     
                    <img class="post-image"
                        ng-repeat="src in imageLocations"
                        ng-src="{{ src }}"
                        style="width: 100px ; margin-right: 10px ;"
                        />
     
                </p>
     
                <p ng-switch-when="false" class="loading-switch">
     
                    <strong>Oops</strong>: One of your images failed to load :(
     
                </p>
     
            </div>
            <!-- END: Results View. -->
     
        </div>



        <img class="swagger"
            ng-repeat="src in imageLocations"
            ng-src="{{ src }}"
            style="width: 100px ; margin-right: 10px ;"
            />

        <!--div class="post" ng-repeat="post in posts" ng-model="posts">
            <div class="title">{{$index}}</div>
        </div-->

    </div>

    <!-- This script will be bundled by the browserify task into dist/js/app.js -->
    <!-- You should only ever really need this one script tag -->

    <script type="text/javascript" src="js/<%= data.name %>-vendors.<%= suffix %>js"></script>
    <script type="text/javascript" src="js/<%= data.name %>.<%= suffix  %>js"></script>
    <script type="text/javascript"></script>

</body>
</html> 